.projects{
    display: flex;
    flex-direction: column;
    width: 98%;
    margin: 0 auto;
    margin-top: 2em;
    position: relative;
    border: 3px solid white;
}

.mat-card{
    width: 100%;
        border: 2px solid black;
        padding: 0.5em;
        height: 100%;
    
}

.mat-card-header{
    justify-content: center;
    background-color: rgba(255, 255, 255, 0) !important;
}

.card{
    position: relative;
    margin-bottom: 0.8em;
    width: 98%;
    border: 3px solid black;
    padding: 0.5em;
    height: 100%;
    border-radius: 10px/5%;
}

.mat-card-content{
    display: flex;
    flex-direction: row;
}

.editor{
    height: 2em;
    width: 2em;
}

img{
    height: 8em;
    width: 8em;
    border-radius: 50%;
}

.title{
    margin-top: 1.6em;
    margin-left: 2em;
}

.add{
    position: absolute !important;
    right: 0px;
    margin-top: 1.6em;
    margin-right: 0.8em;
}

.card-description{
    margin-left: 2em;
    background-color: rgba(255, 255, 255, 0) !important;
}


.tools{
    position: absolute !important;
    right: 0.8em;
    background-color: rgba(255, 255, 255, 0) !important;
}

.card-title{
    margin-top: 3em;
    background-color: rgba(255, 255, 255, 0) !important;
}

.cards{
    display: flex;
    height: fit-content;
    justify-content: center;
}
