<div class="container" *ngIf="edu">
    <div class="row">
        <div class="form">
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="titleEdu">Nombre de la educacion:</label>
                    <input type="text" class="form-control" id="titleEdu" name="titleEdu" [(ngModel)]="edu.titleEdu" required>
                </div>

                <div class="form-group">
                    <label for="descriptionEdu">descripcion de la educacion:</label>
                    <input type="text" class="form-control" id="descriptionEdu" name="descriptionEdu" [(ngModel)]="edu.descriptionEdu" required>
                </div>

                <div class="form-group">
                    <label for="dateEdu">Año:</label>
                    <input type="text" class="form-control" id="dateEdu" name="dateEdu" [(ngModel)]="edu.dateEdu" required>
                </div>

                <div class="form-group">
                    <label for="pictureEdu">Imagen:</label>
                    <input type="text" class="form-control" id="pictureEdu" name="pictureEdu" [(ngModel)]="edu.pictureEdu" required>
                </div>
                
                <button class="btn btn-primary">
                    Editar
                </button>
            </form>
        </div>
    </div>
</div>
