.skills{
    display: flex;
    flex-direction: column;
    width: 98%;
    margin: 0 auto;
    margin-top: 2em;
    position: relative;
    border: 3px solid white;
}

.title{
    margin-top: 1.6em;
    margin-left: 2em;
}