<div class="container" *ngIf="exp">
    <div class="row">
        <div class="form">
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="titleExp">nombre de la empresa</label>
                    <input type="text" class="form-control" id="titleExp" name="titleExp" [(ngModel)]="exp.titleExp" required>
                </div>
                <div class="form-group">
                    <label for="descriptionExp">descripcion del puesto</label>
                    <input type="text" class="form-control" id="descriptionExp" name="descriptionExp" [(ngModel)]="exp.descriptionExp" required>
                </div>
                <div class="form-group">
                    <label for="sinceExp">desde</label>
                    <input type="text" class="form-control" id="sincexp" name="sinceExp" [(ngModel)]="exp.sinceExp" required>
                </div>
                <div class="form-group">
                    <label for="untilExp">hasta</label>
                    <input type="text" class="form-control" id="untilExp" name="untilExp" [(ngModel)]="exp.untilExp" required>
                </div>
                <div class="form-group">
                    <label for="pictureExp">imagen</label>
                    <input type="text" class="form-control" id="pictureExp" name="pictureExp" [(ngModel)]="exp.pictureExp" required>
                </div>
                <div class="form-group">
                    <label for="locationExp">locacion</label>
                    <input type="text" class="form-control" id="locationExp" name="locationExp" [(ngModel)]="exp.locationExp" required>
                </div>
                <button class="btn btn-primary">
                    Editar
                </button>
            </form>
        </div>
    </div>
</div>
 